@max-width:	1300px;
@width:		90%;
@grey:		#e6e6e6;
@blue:		#005ce6;

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px !important;
}

.wrapper {
	width: @width;
	max-width: @max-width;
	margin: auto;
	position: relative;
}

.nav {
	height: 100px;
	border-bottom: 1px solid @grey;

	.nav_info {
		border-bottom: 1px solid @grey;
		position: relative;
		height: 35px;

		.wrapper {

			.phone {
				position: absolute;
				right: 0;
				line-height: 35px;
				border-left: 1px solid @grey;
				border-right: 1px solid @grey;
				padding: 0 15px;

				i {
					margin-right: 10px;
				}
			}
		}
	}

	img {
		height: 50px;
		margin: 6px 0;
	}

	.wrapper {
		position: relative;

			ul {
				list-style: none;
				position: absolute;
				right: 0;
				top: 0px;

				li {
					display: inline-block;
					height: 65px;
					font-weight: bold;
					font-size: 16px;
					margin-left: 25px;
					opacity: 0.85;
					line-height: 65px;

					&:hover {
						color: @blue;
						opacity: 1.0;
					}
				}
			}
		}
}