body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 100;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #003d9a;
  text-decoration: underline;
}
.btn {
  border: 1px solid #002966;
  max-width: 150px;
  width: 90%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: #002966;
  transition: 75ms ease-in;
}
.btn:hover {
  background-color: #002966;
  color: white;
}
.btn_white {
  border: 1px solid white;
  width: 90%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  transition: 75ms ease-in;
}
.btn_white:hover {
  background-color: white;
  color: black;
}
.btn-sm {
  padding: 5px 0;
  background-color: #002966;
  max-width: 80px;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  transition: 75ms ease-in;
  font-size: 12px;
  border: 1px solid #002966;
}
.btn-sm:hover {
  background-color: transparent;
  color: #002966;
}
.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  position: relative;
}
.nav {
  min-height: 100px;
}
.nav .nav_info {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  height: 35px;
}
.nav .nav_info .wrapper .phone {
  position: absolute;
  right: 0;
  line-height: 35px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 0 15px;
}
.nav .nav_info .wrapper .phone i {
  margin-right: 10px;
}
.nav img {
  height: 50px;
  margin: 10px 0;
}
.nav .wrapper {
  position: relative;
}
.nav .wrapper ul {
  list-style: none;
  position: absolute;
  right: 0;
  top: 0px;
}
.nav .wrapper ul li {
  display: inline-block;
  height: 65px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 25px;
  opacity: 0.85;
  line-height: 70px;
  transition: 75ms ease-in;
}
.nav .wrapper ul li:hover {
  color: #005ce6;
  opacity: 1.0;
}
.nav .wrapper ul li .down {
  margin-left: 2px;
}
.nav .menu_btn {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 35px;
  color: #002966;
  display: none;
}
.main_slider {
  background-image: url('../images/panorama1.jpg');
  background-position: center center;
  height: 300px;
}
.main_slider h2 {
  color: white;
  font-weight: 100;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 300px;
}
.main_info {
  padding: 40px 0;
  position: relative;
}
.main_info .cv {
  position: absolute;
  left: -270px;
  opacity: 0.05;
  transform: rotate(-10deg);
  top: 20px;
}
.main_info .wrapper h5 {
  text-align: center;
}
.main_info .wrapper .btn {
  margin: 20px auto 0px auto;
}
.contact_div {
  background: url('../images/realestate.jpg');
  background-size: 100%;
  background-position: center center;
  min-height: 200px;
  padding: 50px 0;
}
.contact_div .wrapper h3 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.contact_div .wrapper .btn_white {
  margin: auto;
  max-width: 250px;
}
.information_blocks {
  padding: 40px 0;
}
.information_blocks .wrapper .row {
  margin: 0 !important;
}
.information_blocks .wrapper .row .col {
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: 15px;
  position: relative;
  box-shadow: 0 0 10px #ccc;
}
.information_blocks .wrapper .row .col i {
  font-size: 35px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 10px;
  background-color: white;
}
.information_blocks .wrapper .row .col p {
  margin-bottom: 50px;
}
.information_blocks .wrapper .row .col:nth-child(2) {
  margin: 0 50px;
}
.information_blocks .wrapper .row .col .btn-sm {
  margin: auto;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin-top: 20px;
}
.contact .c_text {
  padding: 40px 0;
  background-color: #f3f3f3;
}
.contact .c_text h2 {
  font-weight: 100;
  color: #005ce6;
  text-align: center;
}
.contact .c_text hr {
  width: 40%;
  min-width: 200px;
  margin: auto;
  margin-bottom: 20px;
}
.contact .c_text p {
  text-align: center;
}
.contact .c_form {
  padding: 40px 0;
}
.contact .c_form h4 {
  color: #005ce6;
}
.contact .c_form p {
  text-align: left;
}
.contact .c_form i {
  color: #002966;
  font-size: 30px;
  padding-right: 20px;
  padding-top: 20px;
}
.contact .c_form .contact_form input {
  width: 100%;
  margin: 10px 0;
  border-color: #003d9a;
  opacity: 0.6;
}
.contact .c_form .contact_form input:hover {
  opacity: 1.0;
}
.contact .c_form .contact_form textarea {
  text-align: left !important;
  margin-top: 10px;
  height: 150px;
  border-color: #003d9a;
  opacity: 0.6;
}
.contact .c_form .contact_form textarea:hover {
  opacity: 1.0;
}
.contact .c_form .contact_form .btn {
  width: 100%;
  max-width: 300px;
}
.contact iframe {
  width: 100%;
  height: 250px;
  margin-bottom: -7px;
}
footer {
  padding: 40px 0;
  color: white;
  background-color: #002966;
}
footer .wrapper {
  text-align: center;
}
footer .wrapper a {
  color: white;
  text-decoration: none;
}
footer .wrapper a:hover {
  text-decoration: underline;
}
footer .wrapper h3 {
  color: grey;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .wrapper hr {
  margin: 20px 0;
}
@media screen and (max-width: 950px) {
  .nav .wrapper img {
    display: block;
    margin: 10px auto 10px auto;
  }
  .nav .wrapper ul {
    display: none;
  }
  .nav .wrapper .menu_btn {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .information_blocks .wrapper .row .col {
    margin-bottom: 40px !important;
  }
  .information_blocks .wrapper .row .col:nth-child(2) {
    margin: 0px;
  }
  .information_blocks .wrapper .row .col:nth-child(3) {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 450px) {
  .nav .nav_info .wrapper .phone {
    border: none;
    margin: auto;
    position: relative !important;
    text-align: center;
  }
}
