body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 100;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #0047b3;
  text-decoration: underline;
}
.btn {
  border: 1px solid #003380;
  max-width: 150px;
  width: 90%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: #003380;
  transition: 75ms ease-in;
}
.btn:hover {
  background-color: #003380;
  color: white;
}
.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  position: relative;
}
.nav {
  min-height: 100px;
}
.nav .nav_info {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  height: 35px;
}
.nav .nav_info .wrapper .phone {
  position: absolute;
  right: 0;
  line-height: 35px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 0 15px;
}
.nav .nav_info .wrapper .phone i {
  margin-right: 10px;
}
.nav img {
  height: 50px;
  margin: 10px 0;
}
.nav .wrapper {
  position: relative;
}
.nav .wrapper ul {
  list-style: none;
  position: absolute;
  right: 0;
  top: 0px;
}
.nav .wrapper ul li {
  display: inline-block;
  height: 65px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 25px;
  opacity: 0.85;
  line-height: 70px;
}
.nav .wrapper ul li:hover {
  color: #005ce6;
  opacity: 1.0;
}
.nav .menu_btn {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 35px;
  color: #003380;
  display: none;
}
.main_slider {
  background-image: url('../images/panorama1.jpg');
  height: 300px;
}
.main_slider h2 {
  color: white;
  font-weight: 100;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 300px;
}
.main_info {
  padding: 40px 0;
}
.main_info .wrapper .margin_col {
  margin-bottom: 40px;
}
.main_info .wrapper .btn {
  display: block;
  margin: auto;
}
footer {
  padding: 40px 0;
  color: white;
  background-color: #003380;
}
footer .wrapper {
  text-align: center;
}
footer .wrapper a {
  color: white;
  text-decoration: none;
}
footer .wrapper a:hover {
  text-decoration: underline;
}
footer .wrapper h3 {
  color: grey;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .wrapper hr {
  margin: 20px 0;
}
@media screen and (max-width: 950px) {
  .nav .wrapper ul {
    display: none;
  }
  .nav .wrapper .menu_btn {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .nav .nav_info .wrapper .phone {
    border: none;
    margin: auto;
    position: relative !important;
    text-align: center;
  }
}
